<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="btool.configurator.LaunchDelegate"
            id="BTool.launchConfigurationType2"
            modes="debug, run"
            name="name">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="BTool.launchConfigurationTypeImage"
            icon="icons/sample.gif"
            id="BTool.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="btool.configurator.LaunchTabGroup"
            id="BTool.launchConfigurationTabGroup1"
            type="BTool.launchConfigurationTabGroup1">
      </launchConfigurationTabGroup>
   </extension>


</plugin>
