<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="btool.configurator.LaunchDelegate"
            id="BTool.launchConfigurationType"
            modes="debug, run"
            name="BuildTool">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="BTool.coolBarButton"
            icon="icons/sample.gif"
            id="BTool.coolBarButton">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="btool.configurator.LaunchTabGroup"
            description="Swiss scissor knife Builder Tool"
            id="BTool.launchConfigurationTabGroup"
            type="BTool.launchConfigurationTabGroup">
      </launchConfigurationTabGroup>
   </extension>


</plugin>
